.search-bar{

    background-color: #f4f4f4;
}

.tag{
    background-color: #000000;
    border-radius: 30px;
    padding: 0 10px;
    color: #fff;
}

.jobs{
    cursor: pointer;
    .job-title{
        overflow: hidden;
        text-wrap: nowrap;
        width: 167px;
        text-overflow: ellipsis;
    }

}
