.search-bar{
    background-color: #f4f4f4;
}

.tag{
    background-color: #000000;
    border-radius: 30px;
    padding: 0 10px;
    color: #fff;
}

.jobs{
    @media screen and (min-width: 1120px) {
        font-size: 13px !important;
    }
    @media screen and (min-width: 1440px) {
        font-size: medium !important;
    }
    cursor: pointer;
    .logo-img{
        height: 161px !important;
        border-radius: 1rem !important;
        @media screen and (max-width: 576px) {
            height: 187px !important;
        }
    }
    .job-title{
        overflow: hidden;
        white-space: nowrap;
        width: 167px;
        text-overflow: ellipsis;
        @media screen and (min-width: 1120px) {
            font-size: 13px !important;
        }
        @media screen and (min-width: 1440px) {
            font-size: 20px !important;
        }    
    }
}
.jobs-user-icon{
    height: 200px !important;
    width: 200px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    width: 167px;
    text-overflow: ellipsis;
}


.active{
    &>.page-link{
        background-color: var(--bs-primary-rgb) !important;
        color: #ffff;
    }
}

.page-link{
    color: #000;
    border: 1px solid #ccc !important;
}

.vh-75{
    height: 75vh !important;
}

.company-img{
    width: 200px !important;
    height: 200px !important;
}

.anchor-tag{
    font-size: 12px !important;
}