:root {
  --bs-primary-rgb: rgb(255, 88, 0, 100%);
}

@font-face {
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-family: "Poppins";
}

body {
  font-family: "Poppins", "sans-serif";
}

.form-control {
  box-shadow: none !important;
  outline: 0 !important;
  //border: 1px solid #000;
}

.site-primary {
  background-color: var(--bs-primary-rgb) !important;
}
.site-text-primary {
  color: var(--bs-primary-rgb) !important;
}

.step-container {
  display: flex;
  overflow-x: clip;

  .btn {
    position: absolute;
    right: 50px;
    top: 0;
    &.login {
      top: 50px;
      right: 50px;
    }
    &.post-job {
      top: 34px;
      right: 75px;
    }
  }

  .btn-left {
    position: absolute;
    right: 75px;
    top: 0;
    &.login {
      top: 49px;
      right: 79px;
    }
    &.post-job {
       top: 33px;
       right: 100px;
    }
  }

  .step {
    flex-shrink: 0 !important ;
    margin: 0 24px 0 0;
    display: none;
    &.active {
      display: block;
    }
  }
}

.error {
  border: 1px solid #ff0000;
}

.w-500 {
  @media screen and (max-width: 576px){
    width: 300px !important;
  }
  width: 500px !important;
}
.w-700 {
  width: 700px !important;
}
.w-800 {
  width: 800px !important;
}
.w-900 {
  width: 900px !important;
  @media screen and (max-width: 576px){
    width: 300px !important;
  }
}

.btn-scale {
  transition: transform 0.1s;
  &:hover {
    transform: scale(0.98);
  }
}

.user-icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.form-group {
  position: relative;
  input {
    position: relative;
    background-color: #fff;
    border: 1px solid var(--bs-primary-rgb) !important;
    // padding: 0 !important;
    &:focus,
    &:not(:placeholder-shown) {
      border: 2px solid var(--bs-primary-rgb) !important;
      ~ .floating-label {
        top: -12px;
        padding: 0 4px;
        z-index: 1000;
        color: var(--bs-primary-rgb);
        // display: block;
      }
    }
  }
  select{
    border: 2px solid var(--bs-primary-rgb) !important;
    box-shadow: none !important;
    outline: 0 !important;
  }
  .floating-label {
    transition: all 0.3s;
    position: absolute;
    top: 17px;
    left: 17px;
    // display: none;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      top: 11px;
      left: 0;
      height: 3px;
      z-index: -1;
      background-color: #ffffff;
    }
  }
}

.nav-drop{
    width: 100%;
    bottom: -121px;
    background-color: #f4f4f4;
    a{
        color: #000000 !important;
    }
    color: #000000;
}

.eye-opener{
    right: 17px;
    top: 17px;
    &:hover{
        cursor: pointer;
    }
}

.dropdown-toggle{
    &::after{
        display: none !important;
    }
    &.btn{
        &:focus{
            box-shadow: none !important;
        }
    }
}

.hero{
    background-image: url("../images/cool-background.png");
}

#try-delevia{
    background-color: #f4f4f4;
}

.shadow-lg-none{
  @media screen and (max-width: 992px) {
    box-shadow: none !important;
  }
}

.border-site-primary{
  border: 2px solid var(--bs-primary-rgb);
}