.profile-card{
    height: 500px !important;
    // background-image: url("/assets/images/black.jpeg");
    // background-position: center center;
    // object-fit: cover;
    // background-repeat: no-repeat;
    width: 298.98px !important;
}

.profile-img{
    img{
        height: 100px;
        width: 100px;
    }
    height: 100px;
    width: 100px;
}